################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/bin/Debug/net8.0
/obj
/.vs
appsettingsYogi.json
TalentTrack.Worker/appsettingsYogi.Development.json
TalentTrack.Worker/appsettings.Development.json